$light-bg: #dddeec;
$gradient-bg: linear-gradient(90deg, rgba(95,215,241,1) 0%, rgba(164,53,249,1) 100%);
$gradient-darker-bg: linear-gradient(90deg, #408897 0%, #69289c 100%);
$cyan-bg: #a2e8fc;
$dark-bg: #191b3e;
$purple-bg: #39234a;
$best-deal-title: #303343;
$footer-text: #6d6e84;
$shadow: 0px 6px 7px 6px rgba(0,0,0,0.28);