doctype html
html(lang="en")
  head
    include templates/_head.pug

  body  
    include templates/_header.pug
    
    include templates/_main-index.pug

    include templates/_footer.pug
    include templates/_footer-social.pug
    include templates/_scripts.pug