main.main-courses
  section.main-courses
      .main-courses__body
        .wrapper
          .container
            .main-courses__body-inner
              .main-courses-list
                .main-courses-list__columns
                  span.main-courses-list__name-col Название курса
                  span.main-courses-list__duration-col Продолжительность
                  span.main-courses-list__author-col Автор
              .main-courses-list__items
                .main-courses-list__item
                  .main-courses-list__prev
                    span.main-courses-list__name Курс 1
                    span.main-courses-list__duration 28 часов
                    span.main-courses-list__author Author
                  .main-courses-list__descr
                    p.main-courses-list__descr-text Описание курса
                    a.main-courses-list__download(href="") Скачать 

                .main-courses-list__item
                  .main-courses-list__prev
                    span.main-courses-list__name Курс 2
                    span.main-courses-list__duration 28 часов
                    span.main-courses-list__author Author
                  .main-courses-list__descr
                    p.main-courses-list__descr-text Описание курса
                    a.main-courses-list__download(href="") Скачать 

                .main-courses-list__item
                  .main-courses-list__prev
                    span.main-courses-list__name Курс 3
                    span.main-courses-list__duration 28 часов
                    span.main-courses-list__author Author
                  .main-courses-list__descr
                    p.main-courses-list__descr-text Описание курса
                    a.main-courses-list__download(href="") Скачать 

                .main-courses-list__item
                  .main-courses-list__prev
                    span.main-courses-list__name Курс 3
                    span.main-courses-list__duration 28 часов
                    span.main-courses-list__author Author
                  .main-courses-list__descr
                    p.main-courses-list__descr-text Описание курса
                    a.main-courses-list__download(href="") Скачать 