.social
  .wrapper
    .social__body
      .social__item
        a.social__link(href="#")
          img.social__icon(src="./img/icons/twitter-2.png", alt="")
      .social__item
        a.social__link(href="#")
          img.social__icon(src="./img/icons/twitter-2.png", alt="")
      .social__item
        a.social__link(href="#")
          img.social__icon(src="./img/icons/twitter-2.png", alt="")
      .social__item
        a.social__link(href="#")
          img.social__icon(src="./img/icons/twitter-2.png", alt="")
      .social__item
        a.social__link(href="#")
          img.social__icon(src="./img/icons/twitter-2.png", alt="")
      .social__item
        a.social__link(href="#")
          img.social__icon(src="./img/icons/twitter-2.png", alt="")
