footer.footer
  .wrapper
    .footer__body
      .container
        .footer__title Ещё о нас:
        nav.footer__nav
          .footer__nav-body
            ul
              li.footer__nav-item
                a.footer__nav-link(href="") Карьера
              li.footer__nav-item
                a.footer__nav-link(href="") Блог
              li.footer__nav-item
                a.footer__nav-link(href="") Справка и поддержка
              li.footer__nav-item
                a.footer__nav-link(href="") Партнер
            ul
              li.footer__nav-item
                a.footer__nav-link(href="") Alwarn fo Bussines
              li.footer__nav-item
                a.footer__nav-link(href="") Преподавайте на Alwarn
              li.footer__nav-item
                a.footer__nav-link(href="") Скачать приложение
              li.footer__nav-item
                a.footer__nav-link(href="") О нас
            ul
              li.footer__nav-item
                a.footer__nav-link(href="") Условия использования
              li.footer__nav-item
                a.footer__nav-link(href="") Конфидециальность
              li.footer__nav-item
                a.footer__nav-link(href="") Использование файлов
              li.footer__nav-item
                a.footer__nav-link(href="") Карта сайта
                



