header.header
  .wrapper
    .header__body
      .logo
        a(href="index.html")
          img.logo__img(src="./img/logo.png", alt="")
      nav.header__nav
        form.search(action="")
          input.search__inp(type="search" name="search" placeholder="Что бы вы хотели найти?")
          button.search__btn(type="submit") Поиск
        .courses
          a.courses__link(href="courses.html") Курсы
        .account
          a.account__btn(href="") Войти
    .humburger
      span.humburger__line
    