main.main
    section.main-screen
      .main-screen__body
        .wrapper
          .container
            .main-screen-prew
              h1.main-screen-prew__titel Курсы
                span.main-screen-prew__subtitel по кибер-безопасности
              ul.main-screen-prew__desc 
                li Самый большой выбор курсов. 
                li Выбирайте из более чем 1000 онлайн-видеокурсов. 
                li Новые курсы добавляются на сайт каждый месяц
      
      section.pluses
        .pluses__body
          .wrapper
            .pluses__body-inner
              .container
                .pluses-advantage
                  .pluses-advantage__item
                    .pluses-advantage__icon
                      img(src="./img/icons/online-course.png", alt="")
                    .pluses-advantage__title
                      h2.pluses-advantage__uptitle Более 100 действующих курсов
                      .pluses-advantage__subtitle Исследуйте то, что вам интересно
                  .pluses-advantage__item
                    .pluses-advantage__icon
                      img(src="./img/icons/online-course.png", alt="")
                    .pluses-advantage__title
                      h2.pluses-advantage__uptitle Более 100 действующих курсов
                      .pluses-advantage__subtitle Исследуйте то, что вам интересно
                  .pluses-advantage__item
                    .pluses-advantage__icon
                      img(src="./img/icons/online-course.png", alt="")
                    .pluses-advantage__title
                      h2.pluses-advantage__uptitle Более 100 действующих курсов
                      .pluses-advantage__subtitle Исследуйте то, что вам интересно

                  .pluses-advantage__slider
                    .pluses-advantage__slider-item
                      img.pluses-advantage__slider-img(src="./img/sliders/first-slider-1.png", alt="")
                      .pluses-advantage__slider-desc
                        img.pluses-advantage__slider-icon(src="./img/icons/online-course.png", alt="")
                        h3.pluses-advantage__slider-title Занимайтесь в удобном для Вас темпе
                        p.pluses-advantage__slider-subtitle Вы можете следить за курсами откуда удобно,даже не выходя из дома, пользуясь нашим приложением!
                  
                    .pluses-advantage__slider-item
                      img.pluses-advantage__slider-img(src="./img/sliders/first-slider-1.png", alt="")
                      .pluses-advantage__slider-desc
                        img.pluses-advantage__slider-icon(src="./img/icons/online-course.png", alt="")
                        h3.pluses-advantage__slider-title Занимайтесь в удобном для Вас темпе
                        p.pluses-advantage__slider-subtitle Вы можете следить за курсами откуда удобно,даже не выходя из дома, пользуясь нашим приложением!
                  
                    .pluses-advantage__slider-item
                      img.pluses-advantage__slider-img(src="./img/sliders/first-slider-1.png", alt="")
                      .pluses-advantage__slider-desc
                        img.pluses-advantage__slider-icon(src="./img/icons/online-course.png", alt="")
                        h3.pluses-advantage__slider-title Занимайтесь в удобном для Вас темпе
                        p.pluses-advantage__slider-subtitle Вы можете следить за курсами откуда удобно,даже не выходя из дома, пользуясь нашим приложением!
                 
                    .pluses-advantage__slider-item
                      img.pluses-advantage__slider-img(src="./img/sliders/first-slider-1.png", alt="")
                      .pluses-advantage__slider-desc
                        img.pluses-advantage__slider-icon(src="./img/icons/online-course.png", alt="")
                        h3.pluses-advantage__slider-title Занимайтесь в удобном для Вас темпе
                        p.pluses-advantage__slider-subtitle Вы можете следить за курсами откуда удобно,даже не выходя из дома, пользуясь нашим приложением!
                   
                  
                  .pluses-personal-recomend
                    .pluses-personal-recomend__body
                      p.pluses-personal-recomend__text
                        span.pluses-personal-recomend__text_bold Получите персональные рекомендации
                        |Ответьте на несколько вопросов о ваших интересах
                      button.pluses-personal-recomend__btn Перейти    

      section.reviews
        .reviews__body
          .wrapper
            .reviews__body-inner
              .reviews__row.reviews__row_right
                .reviews__item
                    .reviews__item-container.reviews__item-container_order-revers
                      .reviews__item-student-rev.reviews__item-student-rev_padding-left
                        .reviews__item-title Отзыв нашего студента
                        .reviews__item-portret.reviews__item-portret_order-revers
                          span.reviews__item-name Маргарита
                          .reviews__item-face
                            img(src="./img/comment/mini-1.png", alt="")
                        p.reviews__item-text Я поддерживаю идею о том,
                                              |что учиться надо всегда и везде, и
                                              |Alwarn - отличное место, чтобы учиться у
                                              |профессиональных преподавателей.
                                              |У меня появились первые успехи
                                              |и я точно рекомендую Alwarn
                                              |абсолютно всем!
                      .reviews__item-best-deal-bg
                        .reviews__item-best-deal.reviews__item-best-deal_order-normal.reviews__item-best-deal_left
                          .reviews__item-best-deal-text
                            h3.reviews__item-best-deal-title Наше лучшее
                              span.reviews__item-best-deal-subtitle предложение
                            p.reviews__item-best-deal-descr Распродажа заканчивается сегодня. 
                                                            |Онлайн-курсы всего от 899 руб..
                                                            |Выбирайте из более чем 100 000 
                                                            |онлайн-видеокурсов; новые курсы 
                                                            |добавляются на сайт каждый месяц
                            button.reviews__item-best-deal-descr-btn Читать
                          .reviews__item-best-deal-descr-img.reviews__item-best-deal-descr-img_right(style="background: url('img/comment/big-1.png'); background-repeat: no-repeat; background-size: cover;")
              
              .reviews__row.reviews__row_left
                .reviews__item
                    .reviews__item-container.reviews__item-container_order-normal
                      .reviews__item-student-rev.reviews__item-student-rev_padding-right
                        .reviews__item-title Отзыв нашего студента
                        .reviews__item-portret.reviews__item-portret_order-normal
                          span.reviews__item-name Маргарита
                          .reviews__item-face
                            img(src="./img/comment/mini-1.png", alt="")
                        p.reviews__item-text Я поддерживаю идею о том,
                                              |что учиться надо всегда и везде, и
                                              |Alwarn - отличное место, чтобы учиться у
                                              |профессиональных преподавателей.
                                              |У меня появились первые успехи
                                              |и я точно рекомендую Alwarn
                                              |абсолютно всем!
                      .reviews__item-best-deal-bg
                        .reviews__item-best-deal.reviews__item-best-deal_order-revers.reviews__item-best-deal_right
                          .reviews__item-best-deal-text
                            h3.reviews__item-best-deal-title Наше лучшее
                              span.reviews__item-best-deal-subtitle предложение
                            p.reviews__item-best-deal-descr Распродажа заканчивается сегодня. 
                                                            |Онлайн-курсы всего от 899 руб..
                                                            |Выбирайте из более чем 100 000 
                                                            |онлайн-видеокурсов; новые курсы 
                                                            |добавляются на сайт каждый месяц
                            button.reviews__item-best-deal-descr-btn Читать
                          .reviews__item-best-deal-descr-img.reviews__item-best-deal-descr-img_left(style="background: url('img/comment/big-1.png'); background-repeat: no-repeat; background-size: cover;")
                        
               
                        
               
                
                

      section.high-score
        .wrapper
          .high-score__body
            .container
              .high-score__body-inner
                h3.high-score__title Самые высокие оценки
                .high-score__slider
                  .high-score__slider-item
                    img.high-score__slider-img(src="./img/sliders/second-slider-1.png", alt="")
                    .high-score__slider-title 
                      a.high-score__link(href="")
                        .high-score__slider-name Как зарабатывать деньги тестируя Програмное Обеспечение
                      .high-score__slider-author Timur Kazancev
                    .high-score__slider-score
                      span.high-score__slider-stars <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                      span.high-score__slider-rev 5.0 (574 отзыва)

                  .high-score__slider-item
                    img.high-score__slider-img(src="./img/sliders/second-slider-1.png", alt="")
                    .high-score__slider-title 
                      a.high-score__link(href="")
                        .high-score__slider-name Как зарабатывать деньги тестируя Програмное Обеспечение
                      .high-score__slider-author Timur Kazancev
                    .high-score__slider-score
                      span.high-score__slider-stars <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                      span.high-score__slider-rev 5.0 (574 отзыва)
                  
                  .high-score__slider-item
                    img.high-score__slider-img(src="./img/sliders/second-slider-1.png", alt="")
                    .high-score__slider-title 
                      a.high-score__link(href="")
                        .high-score__slider-name Как зарабатывать деньги тестируя Програмное Обеспечение
                      .high-score__slider-author Timur Kazancev
                    .high-score__slider-score
                      span.high-score__slider-stars <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                      span.high-score__slider-rev 5.0 (574 отзыва)    
                  
                  .high-score__slider-item
                    img.high-score__slider-img(src="./img/sliders/second-slider-1.png", alt="")
                    .high-score__slider-title 
                      a.high-score__link(href="")
                        .high-score__slider-name Как зарабатывать деньги тестируя Програмное Обеспечение
                      .high-score__slider-author Timur Kazancev
                    .high-score__slider-score
                      span.high-score__slider-stars <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                      span.high-score__slider-rev 5.0 (574 отзыва)
                  
                  .high-score__slider-item
                    img.high-score__slider-img(src="./img/sliders/second-slider-1.png", alt="")
                    .high-score__slider-title 
                      a.high-score__link(href="")
                        .high-score__slider-name Как зарабатывать деньги тестируя Програмное Обеспечение
                      .high-score__slider-author Timur Kazancev
                    .high-score__slider-score
                      span.high-score__slider-stars <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                      span.high-score__slider-rev 5.0 (574 отзыва)

                  .high-score__slider-item
                    img.high-score__slider-img(src="./img/sliders/second-slider-1.png", alt="")
                    .high-score__slider-title 
                      a.high-score__link(href="")
                        .high-score__slider-name Как зарабатывать деньги тестируя Програмное Обеспечение
                      .high-score__slider-author Timur Kazancev
                    .high-score__slider-score
                      span.high-score__slider-stars <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                      span.high-score__slider-rev 5.0 (574 отзыва)

                  .high-score__slider-item
                    img.high-score__slider-img(src="./img/sliders/second-slider-1.png", alt="")
                    .high-score__slider-title  
                      a.high-score__link(href="")
                        .high-score__slider-name Как зарабатывать деньги тестируя Програмное Обеспечение
                      .high-score__slider-author Timur Kazancev
                    .high-score__slider-score
                      span.high-score__slider-stars <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                      span.high-score__slider-rev 5.0 (574 отзыва)